In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ruta = '/ruta/del/archivo/accidents.xlsx'
df = pd.read_excel(ruta)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Info**

El método info muestra un resumen de un dataframe, incluyendo información sobre el tipo de los índices de filas y columnas, los valores no nulos y la memoria usada.

*Solo los dataframes tienen implementado este método.*

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23158 entries, 0 to 23157
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       23158 non-null  int64
 1   Date Of Incident           23158 non-null  datetime64[ns]
 2   Route                      23158 non-null  object
 3   Operator                   23158 non-null  object
 4   Group Name                 23158 non-null  object
 5   Bus Garage                 23158 non-null  object
 6   Borough                    23158 non-null  object
 7   Injury Result Description  23158 non-null  object
 8   Incident Event Type        23158 non-null  object
 9   Victim Category            23158 non-null  object
 10  Victims Sex                23158 non-null  object
 11  Victims Age                23158 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 2.1+ MB

# **Describe**



Regresa estadísticas descriptivas incluyendo: media, meadiana, máx, mín, std y conteos para una columna en particular de los datos.

La función describe solo regresa los valores de estas estadísticas para las columnas numéricas.

In [ ]:
df.describe()

               Year
count  23158.000000
mean    2016.449607
std        1.074073
min     2015.000000
25%     2016.000000
50%     2016.000000
75%     2017.000000
max     2018.000000

# **Tail**

Esta función devuelve las últimas n filas del objeto según la posición. Es útil para verificar datos rápidamente, por ejemplo, después de ordenar o agregar filas.

In [ ]:
df.tail(5)

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
23153,2018,2018-09-01,(blank),East London,Stagecoach,West Ham,Newham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23154,2018,2018-09-01,(blank),London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01,(blank),London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01,(blank),London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown

# **Head**

Devuelve las n primeras filas del DataFrame.

In [ ]:
df.head(5)

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,2015-01-01,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly

# **Memory_usage**



Devuelve el uso de memoria de cada columna en bytes.

El uso de la memoria puede incluir opcionalmente la contribución del índice y los elementos del objeto dtype.

In [ ]:
df.memory_usage(deep=True)

Index                            128
Year                          185264
Date Of Incident              185264
Route                         895555
Operator                     1626270
Group Name                   1562686
Bus Garage                   1670693
Borough                      1540511
Injury Result Description    2325508
Incident Event Type          1676524
Victim Category              1542995
Victims Sex                  1447138
Victims Age                  1455604
dtype: int64

# **Value_counts**



Devuelve una serie que contiene recuentos de valores únicos. Devuelve un objeto que estará en orden descendente, de modo que su primer elemento será el elemento que ocurra con más frecuencia.

Por defecto, excluye los valores NA.

In [ ]:
df['Victims Sex'].value_counts()

Female     11847
Male        7709
Unknown     3602
Name: Victims Sex, dtype: int64

# **Drop_duplicates**

Eliminar duplicados

In [ ]:
#Crear un registro duplicado para el ejercicio. Se duplicará el índice 1
registro_duplicado = df.loc[1]
df = df.append(registro_duplicado)
df

<ipython-input-49-64539e2e96c0>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(registro_duplicado)

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,2015-01-01,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23154,2018,2018-09-01,(blank),London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01,(blank),London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01,(blank),London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown
1,2015,2015-01-01,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown

In [ ]:
#Verificar si existen duplicados.
duplicados = df.index.duplicated(keep='first')

# Eliminar el duplicado del registro con índice '1'
df = df[~((duplicados) & (df.index == 1))]

df

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,2015-01-01,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23153,2018,2018-09-01,(blank),East London,Stagecoach,West Ham,Newham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23154,2018,2018-09-01,(blank),London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01,(blank),London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01,(blank),London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown

# **Sort_values**



Devuelve el DataFrame que resulta de ordenar las filas del DataFrame df según los valores del la columna con nombre columna.

Si argumento del parámetro ascending es True el orden es creciente y si es False decreciente.

In [ ]:
df.sort_values('Year')

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
3816,2015,2015-09-01,40,Abellio London,Abellio,Garage Not Available,City of London,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Bus Driver,Male,Adult
3815,2015,2015-09-01,39,London General,Go-Ahead,Garage Not Available,Wandsworth,Injuries treated on scene,Onboard Injuries,Pedestrian,Unknown,Unknown
3814,2015,2015-09-01,38,Arriva London North,Arriva London,Garage Not Available,Westminster,Injuries treated on scene,Onboard Injuries,Passenger,Unknown,Unknown
3813,2015,2015-09-01,38,Arriva London North,Arriva London,Garage Not Available,Westminster,Injuries treated on scene,Onboard Injuries,Passenger,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
19971,2018,2018-04-01,3,Abellio London,Abellio,Walworth,Lambeth,Injuries treated on scene,Slip Trip Fall,Passenger,Female,Adult
19970,2018,2018-04-01,3,Abellio London,Abellio,Walworth,Lambeth,Injuries treated on scene,Personal Injury,Passenger,Female,Adult
19969,2018,2018-03-01,N31,Tower Transit,Tower Transit,Westbourne Park,Wandsworth,Injuries treated on scene,Collision Incident,3rd Party driver / Occupant,Male,Unknown
19967,2018,2018-03-01,E10,London United,London United,Hounslow Heath,Ealing,Taken to Hospital – Reported Serious Injury or...,Slip Trip Fall,Passenger,Female,Elderly
23157,2018,2018-09-01,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown

In [ ]:
df.sort_values('Year', ascending=False)

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
23157,2018,2018-09-01,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown
19968,2018,2018-03-01,690,Arriva London South,Arriva London,Norwood,Southwark,Taken to Hospital – Reported Serious Injury or...,Slip Trip Fall,Passenger,Female,Adult
19970,2018,2018-04-01,3,Abellio London,Abellio,Walworth,Lambeth,Injuries treated on scene,Personal Injury,Passenger,Female,Adult
19971,2018,2018-04-01,3,Abellio London,Abellio,Walworth,Lambeth,Injuries treated on scene,Slip Trip Fall,Passenger,Female,Adult
19972,2018,2018-04-01,4,Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Passenger,Female,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...
3814,2015,2015-09-01,38,Arriva London North,Arriva London,Garage Not Available,Westminster,Injuries treated on scene,Onboard Injuries,Passenger,Unknown,Unknown
3815,2015,2015-09-01,39,London General,Go-Ahead,Garage Not Available,Wandsworth,Injuries treated on scene,Onboard Injuries,Pedestrian,Unknown,Unknown
3816,2015,2015-09-01,40,Abellio London,Abellio,Garage Not Available,City of London,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Bus Driver,Male,Adult
3817,2015,2015-09-01,40,Abellio London,Abellio,Garage Not Available,Southwark,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Passenger,Unknown,Unknown
0,2015,2015-01-01,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child

# **Isnull**

In [ ]:
registro_nulos = {
  'Year': None,
  'Date Of Incident' : None,
  'Route' : 1,
  'Operator' : 'London General',
  'Group Name' : 'Go-Ahead',
  'Bus Garage' : 'Garage Not Available',
  'Borough' : 'Southwark',
  'Injury Result Description' : 'Injuries treated on scene',
  'Incident Event Type' : 'Onboard Injuries',
  'Victim Category' : None,
  'Victims Sex' : 'Male',
  'Victims Age' : 'Child'
}
df = df.append(registro_nulos, ignore_index = True)

<ipython-input-53-873b60022067>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(registro_nulos, ignore_index = True)

In [ ]:
#Cambiar valores dentro de las columnas para practicar
df['Route'] = df['Route'].replace('(blank)', np.nan)

# Cambiar los valores 'Unknown' en 'Victims Age' a NaN
df['Victims Age'] = df['Victims Age'].replace('Unknown', np.nan)

# Cambiar los valores 'Unknown' en 'Victims Sex' a NaN
df['Victims Sex'] = df['Victims Sex'].replace('Unknown', np.nan)
df

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01 00:00:00,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01 00:00:00,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,NaN
2,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01 00:00:00,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23154,2018,2018-09-01 00:00:00,NaN,London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01 00:00:00,NaN,London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01 00:00:00,NaN,London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01 00:00:00,NaN,Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,NaN,NaN
23158,None,None,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,None,Male,Child

In [ ]:
#Encontrar valores nulos
vacios = df.isnull().any()
vacios

Year                          True
Date Of Incident              True
Route                         True
Operator                     False
Group Name                   False
Bus Garage                   False
Borough                      False
Injury Result Description    False
Incident Event Type          False
Victim Category               True
Victims Sex                   True
Victims Age                   True
dtype: bool

# **Fillna**

In [ ]:
df['Route'].fillna('empty', inplace=True)
df

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01 00:00:00,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01 00:00:00,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,NaN
2,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01 00:00:00,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23154,2018,2018-09-01 00:00:00,empty,London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01 00:00:00,empty,London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01 00:00:00,empty,London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01 00:00:00,empty,Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,NaN,NaN
23158,None,None,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,None,Male,Child

In [ ]:
df['Victims Sex'].fillna('Not specified', inplace=True)
df

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01 00:00:00,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01 00:00:00,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,NaN
2,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01 00:00:00,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23154,2018,2018-09-01 00:00:00,empty,London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01 00:00:00,empty,London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01 00:00:00,empty,London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01 00:00:00,empty,Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Not specified,NaN
23158,None,None,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,None,Male,Child

In [ ]:
df['Victims Age'].fillna('Unknown', inplace=True)
df

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01 00:00:00,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01 00:00:00,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01 00:00:00,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23154,2018,2018-09-01 00:00:00,empty,London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01 00:00:00,empty,London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01 00:00:00,empty,London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01 00:00:00,empty,Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Not specified,Unknown
23158,None,None,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,None,Male,Child

# **Dropna**

In [ ]:
df = df.dropna()

In [ ]:
#Encontrar valores nulos
vacios = df.isnull().any()
vacios

Year                         False
Date Of Incident             False
Route                        False
Operator                     False
Group Name                   False
Bus Garage                   False
Borough                      False
Injury Result Description    False
Incident Event Type          False
Victim Category              False
Victims Sex                  False
Victims Age                  False
dtype: bool

# **Filtrado por condiciones**

In [ ]:
antes2016 = df['Year'] < 2016
antes2016

0         True
1         True
2         True
3         True
4         True
         ...
23153    False
23154    False
23155    False
23156    False
23157    False
Name: Year, Length: 23158, dtype: bool

In [ ]:
#Evalua cuales de las condiciones fueron TRUE y los muestra.
df[antes2016]
df[df['Year'] < 2016]

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,2015-01-01 00:00:00,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01 00:00:00,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01 00:00:00,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
5710,2015,2015-12-01 00:00:00,W3,Arriva London North,Arriva London,Garage Not Available,Haringey,Injuries treated on scene,Onboard Injuries,Passenger,Not specified,Unknown
5711,2015,2015-12-01 00:00:00,W3,Arriva London North,Arriva London,Garage Not Available,None London Borough,Injuries treated on scene,Onboard Injuries,Passenger,Not specified,Unknown
5712,2015,2015-12-01 00:00:00,W4,London General,Go-Ahead,Garage Not Available,Waltham Forest,Injuries treated on scene,Onboard Injuries,Pedestrian,Female,Adult
5713,2015,2015-12-01 00:00:00,W7,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Collision Incident,3rd Party driver / Occupant,Male,Adult
5714,2015,2015-12-01 00:00:00,X26,H R Richmond,Quality Line,Garage Not Available,Croydon,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Passenger,Female,Adult

In [ ]:
place = df['Borough'] == 'Harrow'
place

0        False
1        False
2        False
3        False
4        False
         ...
23153    False
23154    False
23155     True
23156    False
23157    False
Name: Borough, Length: 23158, dtype: bool

In [ ]:
child_victims = df['Victims Age'] == 'Child'
child_victims

0         True
1        False
2        False
3        False
4        False
         ...
23153    False
23154    False
23155    False
23156    False
23157    False
Name: Victims Age, Length: 23158, dtype: bool

In [ ]:
df[place & antes2016 & child_victims]

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
3151,2015,2015-07-01 00:00:00,288,Arriva The Shires,Arriva The Shires,Garage Not Available,Harrow,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Passenger,Not specified,Child

# **Negar condición**

In [ ]:
#True para los elementos que no cumplen la condición
#(valores menores o iguales a 2015) y False para los elementos que sí la
#cumplen (valores mayores a 2015).
condicion_negada = df[~(df['Year'] <= 2015)]
condicion_negada

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
5715,2016,2016-01-01 00:00:00,2,Arriva London South,Arriva London,Garage Not Available,Lambeth,Injuries treated on scene,Onboard Injuries,Passenger,Not specified,Unknown
5716,2016,2016-01-01 00:00:00,2,Arriva London South,Arriva London,Garage Not Available,Lambeth,Injuries treated on scene,Onboard Injuries,Passenger,Not specified,Unknown
5717,2016,2016-01-01 00:00:00,2,Arriva London South,Arriva London,Garage Not Available,Lambeth,Injuries treated on scene,Onboard Injuries,Passenger,Not specified,Unknown
5718,2016,2016-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,Havering,Injuries treated on scene,Onboard Injuries,Bus Driver,Male,Adult
5719,2016,2016-01-01 00:00:00,5,East London,Stagecoach,Garage Not Available,None London Borough,Injuries treated on scene,Onboard Injuries,Passenger,Not specified,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
23153,2018,2018-09-01 00:00:00,empty,East London,Stagecoach,West Ham,Newham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23154,2018,2018-09-01 00:00:00,empty,London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01 00:00:00,empty,London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01 00:00:00,empty,London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01 00:00:00,empty,Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Not specified,Unknown



---

# **Group by**

In [ ]:
#Limitar visualización
print(df.head(3))

   Year     Date Of Incident Route        Operator  Group Name  \
0  2015  2015-01-01 00:00:00     1  London General    Go-Ahead
1  2015  2015-01-01 00:00:00     4       Metroline   Metroline
2  2015  2015-01-01 00:00:00     5     East London  Stagecoach

             Bus Garage    Borough  \
0  Garage Not Available  Southwark
1  Garage Not Available  Islington
2  Garage Not Available   Havering

                           Injury Result Description Incident Event Type  \
0                          Injuries treated on scene    Onboard Injuries
1                          Injuries treated on scene    Onboard Injuries
2  Taken to Hospital – Reported Serious Injury or...    Onboard Injuries

  Victim Category Victims Sex Victims Age
0       Passenger        Male       Child
1       Passenger        Male     Unknown
2       Passenger        Male     Elderly

In [ ]:
#agrupación
grouped = df.groupby('Group Name')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7972c8130280>

In [ ]:
#Muestra
for name, group in grouped:
    print("Group Name:", name)
    print(group)
    print()

Group Name: Abellio
       Year     Date Of Incident Route        Operator Group Name  \
56     2015  2015-01-01 00:00:00    35  Abellio London    Abellio
70     2015  2015-01-01 00:00:00    49  Abellio London    Abellio
181    2015  2015-01-01 00:00:00   157  Abellio London    Abellio
190    2015  2015-01-01 00:00:00   172  Abellio London    Abellio
229    2015  2015-01-01 00:00:00   235    Abellio West    Abellio
...     ...                  ...   ...             ...        ...
23121  2018  2018-09-01 00:00:00   H25  Abellio London    Abellio
23124  2018  2018-09-01 00:00:00    K1  Abellio London    Abellio
23129  2018  2018-09-01 00:00:00  N109  Abellio London    Abellio
23136  2018  2018-09-01 00:00:00   P13  Abellio London    Abellio
23148  2018  2018-09-01 00:00:00    E1    Abellio West    Abellio

                          Bus Garage               Borough  \
56              Garage Not Available   None London Borough
70              Garage Not Available           Westminster
181             Garage Not Available                Sutton
190             Garage Not Available              Lewisham
229             Garage Not Available              Hounslow
...                              ...                   ...
23121  Twickenham (Abellio London W)              Hounslow
23124  Twickenham (Abellio London W)  Kingston upon Thames
23129    Beddington (Abellio London)           Westminster
23136                       Walworth             Southwark
23148                       Southall                Ealing

                               Injury Result Description Incident Event Type  \
56     Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
70                             Injuries treated on scene    Onboard Injuries
181    Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
190          Reported Minor Injury - Treated at Hospital    Onboard Injuries
229    Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
...                                                  ...                 ...
23121        Reported Minor Injury - Treated at Hospital  Collision Incident
23124                          Injuries treated on scene      Slip Trip Fall
23129  Taken to Hospital – Reported Serious Injury or...             Assault
23136                          Injuries treated on scene     Personal Injury
23148  Taken to Hospital – Reported Serious Injury or...      Slip Trip Fall

        Victim Category    Victims Sex Victims Age
56            Passenger         Female     Unknown
70            Passenger         Female       Adult
181           Passenger         Female       Adult
190    Member Of Public         Female     Elderly
229           Passenger         Female       Adult
...                 ...            ...         ...
23121        Pedestrian         Female       Child
23124         Passenger         Female       Adult
23129         Passenger           Male       Adult
23136         Passenger         Female       Adult
23148         Passenger  Not specified     Unknown

[1089 rows x 12 columns]

Group Name: Arriva Kent Thameside
       Year     Date Of Incident Route               Operator  \
185    2015  2015-01-01 00:00:00   160  Arriva Kent Thameside
186    2015  2015-01-01 00:00:00   160  Arriva Kent Thameside
301    2015  2015-01-01 00:00:00   370  Arriva Kent Thameside
302    2015  2015-01-01 00:00:00   370  Arriva Kent Thameside
303    2015  2015-01-01 00:00:00   370  Arriva Kent Thameside
...     ...                  ...   ...                    ...
11732  2016  2016-03-01 00:00:00   469  Arriva Kent Thameside
11733  2016  2016-03-01 00:00:00   469  Arriva Kent Thameside
11734  2016  2016-03-01 00:00:00   469  Arriva Kent Thameside
11751  2016  2016-03-01 00:00:00   B15  Arriva Kent Thameside
11752  2016  2016-03-01 00:00:00   B15  Arriva Kent Thameside

                  Group Name            Bus Garage              Borough  \
185    Arriva Kent Thameside  Garage Not Available            Greenwich
186    Arriva Kent Thameside  Garage Not Available            Greenwich
301    Arriva Kent Thameside  Garage Not Available  None London Borough
302    Arriva Kent Thameside  Garage Not Available  None London Borough
303    Arriva Kent Thameside  Garage Not Available  None London Borough
...                      ...                   ...                  ...
11732  Arriva Kent Thameside  Garage Not Available            Greenwich
11733  Arriva Kent Thameside  Garage Not Available            Greenwich
11734  Arriva Kent Thameside  Garage Not Available            Greenwich
11751  Arriva Kent Thameside  Garage Not Available            Greenwich
11752  Arriva Kent Thameside  Garage Not Available            Greenwich

                               Injury Result Description Incident Event Type  \
185                            Injuries treated on scene             Assault
186    Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
301                            Injuries treated on scene    Onboard Injuries
302                            Injuries treated on scene    Onboard Injuries
303          Reported Minor Injury - Treated at Hospital    Onboard Injuries
...                                                  ...                 ...
11732                          Injuries treated on scene  Collision Incident
11733                          Injuries treated on scene  Collision Incident
11734                          Injuries treated on scene  Collision Incident
11751                          Injuries treated on scene             Assault
11752  Taken to Hospital – Reported Serious Injury or...    Onboard Injuries

        Victim Category Victims Sex Victims Age
185           Passenger        Male       Adult
186           Passenger      Female     Elderly
301    Member Of Public      Female       Adult
302    Member Of Public      Female       Adult
303           Passenger        Male       Child
...                 ...         ...         ...
11732         Passenger      Female       Adult
11733         Passenger      Female       Adult
11734         Passenger        Male       Adult
11751        Bus Driver      Female       Adult
11752         Passenger      Female     Elderly

[107 rows x 12 columns]

Group Name: Arriva London
       Year     Date Of Incident Route             Operator     Group Name  \
44     2015  2015-01-01 00:00:00    29  Arriva London North  Arriva London
45     2015  2015-01-01 00:00:00    29  Arriva London North  Arriva London
46     2015  2015-01-01 00:00:00    29  Arriva London North  Arriva London
58     2015  2015-01-01 00:00:00    38  Arriva London North  Arriva London
59     2015  2015-01-01 00:00:00    38  Arriva London North  Arriva London
...     ...                  ...   ...                  ...            ...
23132  2018  2018-09-01 00:00:00   N73  Arriva London North  Arriva London
23143  2018  2018-09-01 00:00:00    W3  Arriva London North  Arriva London
23144  2018  2018-09-01 00:00:00    W4  Arriva London North  Arriva London
23145  2018  2018-09-01 00:00:00    W4  Arriva London North  Arriva London
23146  2018  2018-09-01 00:00:00    W4  Arriva London North  Arriva London

                 Bus Garage              Borough  \
44     Garage Not Available               Camden
45     Garage Not Available  None London Borough
46     Garage Not Available  None London Borough
58     Garage Not Available               Camden
59     Garage Not Available              Hackney
...                     ...                  ...
23132         Stamford Hill              Hackney
23143            Wood Green             Haringey
23144            Wood Green             Haringey
23145            Wood Green             Haringey
23146            Wood Green        Not specified

                               Injury Result Description Incident Event Type  \
44                             Injuries treated on scene    Onboard Injuries
45                             Injuries treated on scene    Onboard Injuries
46     Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
58                             Injuries treated on scene    Onboard Injuries
59                             Injuries treated on scene    Onboard Injuries
...                                                  ...                 ...
23132                          Injuries treated on scene      Slip Trip Fall
23143                          Injuries treated on scene      Slip Trip Fall
23144                          Injuries treated on scene      Slip Trip Fall
23145                          Injuries treated on scene      Slip Trip Fall
23146                          Injuries treated on scene      Slip Trip Fall

      Victim Category    Victims Sex Victims Age
44          Passenger  Not specified     Unknown
45          Passenger  Not specified     Unknown
46          Passenger  Not specified     Unknown
58          Passenger  Not specified     Unknown
59          Passenger  Not specified     Unknown
...               ...            ...         ...
23132       Passenger         Female     Unknown
23143       Passenger         Female       Adult
23144       Passenger         Female       Adult
23145       Passenger         Female       Adult
23146       Passenger         Female       Adult

[4945 rows x 12 columns]

Group Name: Arriva The Shires
       Year     Date Of Incident Route           Operator         Group Name  \
164    2015  2015-01-01 00:00:00   142  Arriva The Shires  Arriva The Shires
165    2015  2015-01-01 00:00:00   142  Arriva The Shires  Arriva The Shires
166    2015  2015-01-01 00:00:00   142  Arriva The Shires  Arriva The Shires
167    2015  2015-01-01 00:00:00   142  Arriva The Shires  Arriva The Shires
168    2015  2015-01-01 00:00:00   142  Arriva The Shires  Arriva The Shires
...     ...                  ...   ...                ...                ...
12620  2017  2017-02-01 00:00:00   333  Arriva The Shires  Arriva The Shires
12624  2017  2017-02-01 00:00:00   341  Arriva The Shires  Arriva The Shires
12635  2017  2017-02-01 00:00:00   349  Arriva The Shires  Arriva The Shires
12655  2017  2017-02-01 00:00:00   412  Arriva The Shires  Arriva The Shires
12695  2017  2017-02-01 00:00:00   H19  Arriva The Shires  Arriva The Shires

                 Bus Garage  Borough  \
164    Garage Not Available   Barnet
165    Garage Not Available   Barnet
166    Garage Not Available   Barnet
167    Garage Not Available   Barnet
168    Garage Not Available   Barnet
...                     ...      ...
12620               Brixton  Lambeth
12624             Tottenham  Hackney
12635               Enfield  Enfield
12655      Croydon (Arriva)  Croydon
12695               Watford   Harrow

                               Injury Result Description Incident Event Type  \
164                            Injuries treated on scene    Onboard Injuries
165                            Injuries treated on scene    Onboard Injuries
166                            Injuries treated on scene    Onboard Injuries
167                            Injuries treated on scene    Onboard Injuries
168          Reported Minor Injury - Treated at Hospital  Collision Incident
...                                                  ...                 ...
12620                          Injuries treated on scene      Slip Trip Fall
12624                          Injuries treated on scene      Slip Trip Fall
12635  Taken to Hospital – Reported Serious Injury or...     Personal Injury
12655                          Injuries treated on scene      Slip Trip Fall
12695        Reported Minor Injury - Treated at Hospital      Slip Trip Fall

      Victim Category    Victims Sex Victims Age
164         Passenger  Not specified     Unknown
165         Passenger  Not specified     Unknown
166         Passenger  Not specified     Unknown
167         Passenger  Not specified     Unknown
168        Pedestrian  Not specified     Unknown
...               ...            ...         ...
12620       Passenger           Male       Adult
12624       Passenger         Female       Adult
12635       Passenger         Female       Child
12655       Passenger           Male     Elderly
12695       Passenger         Female     Elderly

[306 rows x 12 columns]

Group Name: CT Plus
       Year     Date Of Incident Route  Operator Group Name  \
729    2015  2015-04-01 00:00:00   309  C T Plus    CT Plus
760    2015  2015-04-01 00:00:00   388  C T Plus    CT Plus
769    2015  2015-04-01 00:00:00   394  C T Plus    CT Plus
1781   2015  2015-06-01 00:00:00   388  C T Plus    CT Plus
1782   2015  2015-06-01 00:00:00   388  C T Plus    CT Plus
...     ...                  ...   ...       ...        ...
22159  2018  2018-07-01 00:00:00   W19  C T Plus    CT Plus
22649  2018  2018-08-01 00:00:00   W13  C T Plus    CT Plus
23047  2018  2018-09-01 00:00:00   388  C T Plus    CT Plus
23050  2018  2018-09-01 00:00:00   397  C T Plus    CT Plus
23131  2018  2018-09-01 00:00:00   N26  C T Plus    CT Plus

                 Bus Garage         Borough  \
729    Garage Not Available   Tower Hamlets
760    Garage Not Available          Newham
769    Garage Not Available         Hackney
1781   Garage Not Available         Hackney
1782   Garage Not Available         Hackney
...                     ...             ...
22159    Walthamstow Avenue  Waltham Forest
22649     Hackney Ash Grove  Waltham Forest
23047     Hackney Ash Grove       Southwark
23050    Walthamstow Avenue  Waltham Forest
23131     Hackney Ash Grove         Hackney

                               Injury Result Description  \
729                            Injuries treated on scene
760                            Injuries treated on scene
769                            Injuries treated on scene
1781                           Injuries treated on scene
1782   Taken to Hospital – Reported Serious Injury or...
...                                                  ...
22159  Taken to Hospital – Reported Serious Injury or...
22649                          Injuries treated on scene
23047                          Injuries treated on scene
23050                          Injuries treated on scene
23131                          Injuries treated on scene

         Incident Event Type              Victim Category Victims Sex  \
729    Vandalism Hooliganism                   Bus Driver        Male
760         Onboard Injuries                    Passenger      Female
769         Onboard Injuries                    Passenger      Female
1781                 Assault                   Bus Driver        Male
1782      Collision Incident  3rd Party driver / Occupant        Male
...                      ...                          ...         ...
22159         Slip Trip Fall                    Passenger        Male
22649        Personal Injury                    Passenger      Female
23047     Collision Incident                   Pedestrian      Female
23050         Slip Trip Fall                    Passenger        Male
23131        Personal Injury                   Bus Driver        Male

      Victims Age
729         Adult
760         Adult
769         Adult
1781        Adult
1782        Adult
...           ...
22159     Unknown
22649       Adult
23047       Adult
23050     Elderly
23131       Adult

[77 rows x 12 columns]

Group Name: Go-Ahead
       Year     Date Of Incident Route             Operator Group Name  \
0      2015  2015-01-01 00:00:00     1       London General   Go-Ahead
9      2015  2015-01-01 00:00:00    11       London General   Go-Ahead
10     2015  2015-01-01 00:00:00    11       London General   Go-Ahead
11     2015  2015-01-01 00:00:00    11       London General   Go-Ahead
12     2015  2015-01-01 00:00:00    12       London Central   Go-Ahead
...     ...                  ...   ...                  ...        ...
23139  2018  2018-09-01 00:00:00    R1             Metrobus   Go-Ahead
23140  2018  2018-09-01 00:00:00    R4             Metrobus   Go-Ahead
23150  2018  2018-09-01 00:00:00   EL3  Blue Triangle Buses   Go-Ahead
23151  2018  2018-09-01 00:00:00    N1       London Central   Go-Ahead
23152  2018  2018-09-01 00:00:00    N1       London Central   Go-Ahead

                 Bus Garage              Borough  \
0      Garage Not Available            Southwark
9      Garage Not Available       City of London
10     Garage Not Available          Westminster
11     Garage Not Available          Westminster
12     Garage Not Available            Southwark
...                     ...                  ...
23139  Orpington (Metrobus)              Bromley
23140  Orpington (Metrobus)              Bromley
23150            River Road  None London Borough
23151     Morden Wharf Road            Southwark
23152     Morden Wharf Road            Southwark

                               Injury Result Description Incident Event Type  \
0                              Injuries treated on scene    Onboard Injuries
9      Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
10                             Injuries treated on scene    Onboard Injuries
11                             Injuries treated on scene    Onboard Injuries
12                             Injuries treated on scene    Onboard Injuries
...                                                  ...                 ...
23139                          Injuries treated on scene  Collision Incident
23140                          Injuries treated on scene     Personal Injury
23150  Taken to Hospital – Reported Serious Injury or...      Slip Trip Fall
23151  Taken to Hospital – Reported Serious Injury or...      Slip Trip Fall
23152  Taken to Hospital – Reported Serious Injury or...      Slip Trip Fall

      Victim Category Victims Sex Victims Age
0           Passenger        Male       Child
9           Passenger      Female       Adult
10          Passenger      Female       Adult
11          Passenger      Female       Adult
12          Passenger      Female       Adult
...               ...         ...         ...
23139      Pedestrian      Female       Adult
23140      Bus Driver        Male       Adult
23150       Passenger        Male       Adult
23151       Passenger      Female       Adult
23152       Passenger      Female       Adult

[4258 rows x 12 columns]

Group Name: London United
       Year     Date Of Incident  Route       Operator     Group Name  \
7      2015  2015-01-01 00:00:00      9  London United  London United
8      2015  2015-01-01 00:00:00     10  London United  London United
38     2015  2015-01-01 00:00:00     27  London United  London United
39     2015  2015-01-01 00:00:00     27  London United  London United
40     2015  2015-01-01 00:00:00     27  London United  London United
...     ...                  ...    ...            ...            ...
23133  2018  2018-09-01 00:00:00     N9  London United  London United
23149  2018  2018-09-01 00:00:00    E10  London United  London United
23154  2018  2018-09-01 00:00:00  empty  London United  London United
23155  2018  2018-09-01 00:00:00  empty  London United  London United
23156  2018  2018-09-01 00:00:00  empty  London United  London United

                 Bus Garage               Borough  \
7      Garage Not Available  Hammersmith & Fulham
8      Garage Not Available           Westminster
38     Garage Not Available  Hammersmith & Fulham
39     Garage Not Available  Hammersmith & Fulham
40     Garage Not Available              Hounslow
...                     ...                   ...
23133              Hounslow            Hillingdon
23149        Hounslow Heath                Ealing
23154              Hounslow         Not specified
23155            Park Royal                Harrow
23156        Shepherds Bush  Hammersmith & Fulham

                         Injury Result Description Incident Event Type  \
7                        Injuries treated on scene    Onboard Injuries

In [ ]:
#.count
filtered_counts = df['Group Name'].value_counts()
print(filtered_counts)

Arriva London            4945
Metroline                4690
Go-Ahead                 4258
Stagecoach               4192
London United            2469
Abellio                  1089
Tower Transit             757
Arriva The Shires         306
Quality Line              201
Arriva Kent Thameside     107
CT Plus                    77
TGM                        63
Sullivan Buses              3
Uno Buses                   1
Name: Group Name, dtype: int64

In [ ]:
# Ejemplo de .count()
count = df['Group Name'].count()
print("Recuento total de elementos en la columna 'Group Name':", count)

Recuento total de elementos en la columna 'Group Name': 23158

In [ ]:
#.loc
# Acceder a un grupo específico utilizando .loc()
Metroline = df.loc[df['Group Name'] == 'Metroline']
print(Metroline)

       Year     Date Of Incident  Route        Operator Group Name  \
1      2015  2015-01-01 00:00:00      4       Metroline  Metroline
4      2015  2015-01-01 00:00:00      6       Metroline  Metroline
5      2015  2015-01-01 00:00:00      6       Metroline  Metroline
18     2015  2015-01-01 00:00:00     16       Metroline  Metroline
19     2015  2015-01-01 00:00:00     17       Metroline  Metroline
...     ...                  ...    ...             ...        ...
23110  2018  2018-09-01 00:00:00     E2       Metroline  Metroline
23141  2018  2018-09-01 00:00:00     U3  Metroline West  Metroline
23142  2018  2018-09-01 00:00:00     U4  Metroline West  Metroline
23147  2018  2018-09-01 00:00:00     W8       Metroline  Metroline
23157  2018  2018-09-01 00:00:00  empty       Metroline  Metroline

                 Bus Garage      Borough  \
1      Garage Not Available    Islington
4      Garage Not Available  Westminster
5      Garage Not Available  Westminster
18     Garage Not Available        Brent
19     Garage Not Available    Southwark
...                     ...          ...
23110             Brentford       Ealing
23141              Uxbridge   Hillingdon
23142              Uxbridge   Hillingdon
23147           Potters Bar      Enfield
23157              Holloway    Islington

                               Injury Result Description Incident Event Type  \
1                              Injuries treated on scene    Onboard Injuries
4            Reported Minor Injury - Treated at Hospital    Onboard Injuries
5      Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
18     Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
19           Reported Minor Injury - Treated at Hospital    Onboard Injuries
...                                                  ...                 ...
23110        Reported Minor Injury - Treated at Hospital     Personal Injury
23141                          Injuries treated on scene     Personal Injury
23142                          Injuries treated on scene      Slip Trip Fall
23147        Reported Minor Injury - Treated at Hospital      Slip Trip Fall
23157                          Injuries treated on scene     Personal Injury

      Victim Category    Victims Sex Victims Age
1           Passenger           Male     Unknown
4          Pedestrian         Female     Elderly
5           Passenger         Female     Elderly
18          Passenger  Not specified       Adult
19         Pedestrian           Male     Unknown
...               ...            ...         ...
23110       Passenger         Female       Adult
23141       Passenger         Female     Unknown
23142       Passenger         Female     Elderly
23147       Passenger         Female       Youth
23157           Other  Not specified     Unknown

[4690 rows x 12 columns]

In [ ]:
# Restablecer los índices utilizando .reset_index()
reset_df = df.reset_index()

print(reset_df)

       index  Year     Date Of Incident  Route        Operator     Group Name  \
0          0  2015  2015-01-01 00:00:00      1  London General       Go-Ahead
1          1  2015  2015-01-01 00:00:00      4       Metroline      Metroline
2          2  2015  2015-01-01 00:00:00      5     East London     Stagecoach
3          3  2015  2015-01-01 00:00:00      5     East London     Stagecoach
4          4  2015  2015-01-01 00:00:00      6       Metroline      Metroline
...      ...   ...                  ...    ...             ...            ...
23153  23153  2018  2018-09-01 00:00:00  empty     East London     Stagecoach
23154  23154  2018  2018-09-01 00:00:00  empty   London United  London United
23155  23155  2018  2018-09-01 00:00:00  empty   London United  London United
23156  23156  2018  2018-09-01 00:00:00  empty   London United  London United
23157  23157  2018  2018-09-01 00:00:00  empty       Metroline      Metroline

                 Bus Garage               Borough  \
0      Garage Not Available             Southwark
1      Garage Not Available             Islington
2      Garage Not Available              Havering
3      Garage Not Available   None London Borough
4      Garage Not Available           Westminster
...                     ...                   ...
23153              West Ham                Newham
23154              Hounslow         Not specified
23155            Park Royal                Harrow
23156        Shepherds Bush  Hammersmith & Fulham
23157              Holloway             Islington

                               Injury Result Description Incident Event Type  \
0                              Injuries treated on scene    Onboard Injuries
1                              Injuries treated on scene    Onboard Injuries
2      Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
3      Taken to Hospital – Reported Serious Injury or...    Onboard Injuries
4            Reported Minor Injury - Treated at Hospital    Onboard Injuries
...                                                  ...                 ...
23153                          Injuries treated on scene     Personal Injury
23154                          Injuries treated on scene     Personal Injury
23155                          Injuries treated on scene      Slip Trip Fall
23156                          Injuries treated on scene     Personal Injury
23157                          Injuries treated on scene     Personal Injury

         Victim Category    Victims Sex Victims Age
0              Passenger           Male       Child
1              Passenger           Male     Unknown
2              Passenger           Male     Elderly
3              Passenger           Male     Elderly
4             Pedestrian         Female     Elderly
...                  ...            ...         ...
23153         Bus Driver           Male       Adult
23154         Bus Driver           Male       Adult
23155  Operational Staff           Male       Adult
23156         Bus Driver           Male       Adult
23157              Other  Not specified     Unknown

[23158 rows x 13 columns]

In [ ]:
# Calcular la suma y el promedio de los valores en cada grupo utilizando .agg()
grouped = df.groupby('Group Name').agg({'Year': ['sum', 'mean']})

print(grouped)

                          Year
                           sum         mean
Group Name
Abellio                2196257  2016.764922
Arriva Kent Thameside   215639  2015.317757
Arriva London          9971539  2016.489181
Arriva The Shires       616842  2015.823529
CT Plus                 155286  2016.701299
Go-Ahead               8586020  2016.444340
London United          4978322  2016.331308
Metroline              9457039  2016.426226
Quality Line            405447  2017.149254
Stagecoach             8452902  2016.436546
Sullivan Buses            6050  2016.666667
TGM                     127018  2016.158730
Tower Transit          1526562  2016.594452
Uno Buses                 2017  2017.000000

# **Combinación de DataFrames**

In [ ]:
# Filtrar y ver solo la columna 'Victim Category'
Victim_Category = df['Victim Category']

print("Victim Category:")
print(Victim_Category)

Victim Category:
0                Passenger
1                Passenger
2                Passenger
3                Passenger
4               Pedestrian
               ...
23153           Bus Driver
23154           Bus Driver
23155    Operational Staff
23156           Bus Driver
23157                Other
Name: Victim Category, Length: 23158, dtype: object

In [ ]:
# Acceder a un grupo específico utilizando .loc()
Victim_Category = df.loc[df['Victim Category'] == 'Passenger', ['Victim Category']]
print(Victim_Category)

      Victim Category
0           Passenger
1           Passenger
2           Passenger
3           Passenger
5           Passenger
...               ...
23148       Passenger
23149       Passenger
23150       Passenger
23151       Passenger
23152       Passenger

[18828 rows x 1 columns]

In [ ]:
#Conteo de victimas passenger
count_passenger = df['Victim Category'].value_counts()['Passenger']
print(count_passenger)

18828

In [ ]:
#Victims Sex
Victims_Sex = df.loc[df['Victim Category'] == 'Passenger', ['Victim Category', 'Victims Sex']]
print(Victims_Sex)

      Victim Category    Victims Sex
0           Passenger           Male
1           Passenger           Male
2           Passenger           Male
3           Passenger           Male
5           Passenger         Female
...               ...            ...
23148       Passenger  Not specified
23149       Passenger           Male
23150       Passenger           Male
23151       Passenger         Female
23152       Passenger         Female

[18828 rows x 2 columns]

In [ ]:
#Male
SexMale = df.loc[(df['Victims Sex'] == 'Male'), ['Victims Sex']]
print(SexMale)

      Victims Sex
0            Male
1            Male
2            Male
3            Male
6            Male
...           ...
23150        Male
23153        Male
23154        Male
23155        Male
23156        Male

[7709 rows x 1 columns]

In [ ]:
#Famale
SexFemale = df.loc[(df['Victims Sex'] == 'Female'), ['Victims Sex']]
print(SexFemale)

      Victims Sex
4          Female
5          Female
8          Female
9          Female
10         Female
...           ...
23145      Female
23146      Female
23147      Female
23151      Female
23152      Female

[11847 rows x 1 columns]

# Concat

In [ ]:
Victims_Sex = pd.concat([Victim_Category,SexFemale,SexMale],axis=1)
Victims_Sex = Victims_Sex.rename(columns={'Victims Sex': 'Sex'})
Victims_Sex_filled = Victims_Sex.fillna('Unknown')
print(Victims_Sex_filled)

      Victim Category      Sex      Sex
0           Passenger  Unknown     Male
1           Passenger  Unknown     Male
2           Passenger  Unknown     Male
3           Passenger  Unknown     Male
5           Passenger   Female  Unknown
...               ...      ...      ...
23140         Unknown  Unknown     Male
23153         Unknown  Unknown     Male
23154         Unknown  Unknown     Male
23155         Unknown  Unknown     Male
23156         Unknown  Unknown     Male

[22732 rows x 3 columns]

# Merge

In [ ]:
# Combinar DataFrames Merge outer
merged_df = pd.merge(SexMale, SexFemale, how='outer')

print("DataFrame combinado:")
print(merged_df)

DataFrame combinado:
      Victims Sex
0            Male
1            Male
2            Male
3            Male
4            Male
...           ...
19551      Female
19552      Female
19553      Female
19554      Female
19555      Female

[19556 rows x 1 columns]

In [ ]:
#left
# Combinar DataFrames
merged_df = pd.merge(SexMale, SexFemale, how='left')

print("DataFrame combinado:")
print(merged_df)

DataFrame combinado:
     Victims Sex
0           Male
1           Male
2           Male
3           Male
4           Male
...          ...
7704        Male
7705        Male
7706        Male
7707        Male
7708        Male

[7709 rows x 1 columns]

In [ ]:
# Combinar DataFrames
merged_df = pd.merge(SexMale, SexFemale, how='right')

print("DataFrame combinado:")
print(merged_df)

DataFrame combinado:
      Victims Sex
0          Female
1          Female
2          Female
3          Female
4          Female
...           ...
11842      Female
11843      Female
11844      Female
11845      Female
11846      Female

[11847 rows x 1 columns]

# Join

In [ ]:
join_df = SexFemale.join(SexMale, lsuffix='_female', rsuffix='_male')
print(join_df)

      Victims Sex_female Victims Sex_male
4                 Female              NaN
5                 Female              NaN
8                 Female              NaN
9                 Female              NaN
10                Female              NaN
...                  ...              ...
23145             Female              NaN
23146             Female              NaN
23147             Female              NaN
23151             Female              NaN
23152             Female              NaN

[11847 rows x 2 columns]

In [ ]:
join_df = SexMale.join(SexFemale, lsuffix='_male', rsuffix='_female')
print(join_df)

      Victims Sex_male Victims Sex_female
0                 Male                NaN
1                 Male                NaN
2                 Male                NaN
3                 Male                NaN
6                 Male                NaN
...                ...                ...
23150             Male                NaN
23153             Male                NaN
23154             Male                NaN
23155             Male                NaN
23156             Male                NaN

[7709 rows x 2 columns]

# Pivot Table

In [ ]:
#año de inicio de los accidentes
pivot_table = pd.pivot_table(df, values='Year', index='Victim Category', columns='Victims Sex', aggfunc=min)
print(pivot_table.head(20))

Victims Sex                  Female    Male  Not specified
Victim Category
3rd Party driver / Occupant  2015.0  2015.0         2015.0
Bus Driver                   2015.0  2015.0         2017.0
Conductor                    2015.0  2015.0         2015.0
Contractor Staff                NaN  2015.0            NaN
Cyclist                      2015.0  2015.0         2015.0
Cyclist                      2016.0  2016.0         2016.0
Insufficient Data               NaN     NaN         2018.0
Member Of Public             2015.0  2015.0         2015.0
Motorcyclist                 2016.0  2015.0         2015.0
Motorcyclist                    NaN  2016.0         2016.0
Non-Operational Staff           NaN  2015.0            NaN
Operational Staff            2015.0  2015.0         2015.0
Operations staff (other)        NaN     NaN         2016.0
Other                        2015.0  2015.0         2015.0
Passenger                    2015.0  2015.0         2015.0
Pedestrian                   2015.0  2015.0         2015.0
TfL Staff                    2016.0  2017.0         2016.0

In [ ]:
##año de ultimos accidentes
pivot_table = pd.pivot_table(df, values='Year', index='Victim Category', columns='Victims Sex', aggfunc=max)
print(pivot_table.head(20))

Victims Sex                  Female    Male  Not specified
Victim Category
3rd Party driver / Occupant  2018.0  2018.0         2018.0
Bus Driver                   2018.0  2018.0         2018.0
Conductor                    2015.0  2018.0         2015.0
Contractor Staff                NaN  2018.0            NaN
Cyclist                      2018.0  2018.0         2018.0
Cyclist                      2016.0  2016.0         2016.0
Insufficient Data               NaN     NaN         2018.0
Member Of Public             2018.0  2018.0         2018.0
Motorcyclist                 2017.0  2018.0         2018.0
Motorcyclist                    NaN  2016.0         2016.0
Non-Operational Staff           NaN  2015.0            NaN
Operational Staff            2017.0  2018.0         2018.0
Operations staff (other)        NaN     NaN         2016.0
Other                        2017.0  2018.0         2018.0
Passenger                    2018.0  2018.0         2018.0
Pedestrian                   2018.0  2018.0         2018.0
TfL Staff                    2016.0  2017.0         2016.0

# Melt

In [ ]:
print("Tabla original:")
#print(df.head(5))
# Aplicar la función melt para convertir la tabla ancha en una tabla larga
df_melted = pd.melt(df, id_vars='Operator', var_name='Date Of Incident', value_name='Year')

print("\nTabla derretida:")
print(df_melted.head(5))

Tabla original:

Tabla derretida:
         Operator Date Of Incident  Year
0  London General             Year  2015
1       Metroline             Year  2015
2     East London             Year  2015
3     East London             Year  2015
4       Metroline             Year  2015

<ipython-input-89-99845153a091>:4: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df_melted = pd.melt(df, id_vars='Operator', var_name='Date Of Incident', value_name='Year')

In [ ]:
#eliminación de columna no usada
df_melted = df_melted.drop(columns='Date Of Incident')

In [ ]:
print("\nTabla años de accidentes derretida:")
print(df_melted.head(5))

Tabla años de accidentes derretida:
         Operator  Year
0  London General  2015
1       Metroline  2015
2     East London  2015
3     East London  2015
4       Metroline  2015

# Apply

In [ ]:
# Definir una función para calcular el conteo de casos con 'Female' en la columna 'Victims Sex'
def contar_female(df):
    conteo_female = (df['Victims Sex'] == 'Female').sum()
    conteo_df = pd.DataFrame({'Conteo de casos con Victims Sex = \'Female\'': [conteo_female]})
    return conteo_df

In [ ]:
# Definir una función para calcular el conteo de casos con 'Female' en la columna 'Victims Sex'
def contar_male(df):
    conteo_male = (df['Victims Sex'] == 'Male').sum()
    conteo_df = pd.DataFrame({'Conteo de casos con Victims Sex = \'Male\'': [conteo_male]})
    return conteo_df

In [ ]:
resultado = contar_male(df)
print(resultado)

   Conteo de casos con Victims Sex = 'Male'
0                                      7709

In [ ]:
resultado = contar_female(df)
print(resultado)

   Conteo de casos con Victims Sex = 'Female'
0                                       11847